body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background-color: #000;
}

.visualizer {
    position: relative;
    width: 300px;
    height: 300px;
}

.circle {
    transform: rotate(-90deg);
}

.outer-ring {
    fill: none;
    stroke-width: 10;
    stroke-dasharray: 880;
    stroke-dashoffset: 0;
    transition: stroke-dashoffset 0.5s ease-in-out;
    
}

.outer-ring-1 {
    stroke: rgba(0, 255, 255, 0.2);
}

.outer-ring-2 {
    stroke: rgba(0, 255, 255, 0.4);
}

.outer-ring-3 {
    stroke: rgba(0, 255, 255, 0.6);
}

