body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background-color: #000;
}

.visualizer {
    position: relative;
    width: 300px;
    height: 300px;
